@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
}

:root {
    --cor-01: #E3F2FD;
    --cor-02: #FAFAFA;
    --cor-03: #424242;
    --cor-04: #3E2723;
    --cor-05: #8D6E63;
    --cor-06: #616161;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-04);
}

header {
    background-color: var(--cor-05);
    padding: 10px;
    margin: auto;
    width: auto;
}

header > h1 {
    font-size: 29px;
    color: var(--cor-01);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

header > p {
    font-size: 15px;
    text-align: center;
    padding-bottom: 85px;
    margin: auto;
    color: var(--cor-01);
    
}

main {
    margin: auto;
    max-width:800px;
    min-width: 300px;
    width: auto;
    padding: 90px;
    padding-top: 50px;
    background-color: var(--cor-02);
}

main  h1 {
    text-align: justify;
    color: black;
    margin-bottom: 15px;
    max-width: auto;
    padding-bottom: 15px;
}

main h2 {
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 15px;
}

main p {
    color: black;
}

aside {
    background-color: var(--cor-05);
    padding-bottom: 1px;
    max-width: 470px;
    margin: auto;
    border-radius: 10px;
    box-shadow: -3px -3px 7px 0px rgba(0, 0, 0, 0.198);
}

aside  ul  {
    list-style-position: inside;
    columns: 2;
    padding-bottom: 30px;
    margin-left:  6px;
    line-height: 30px;
    color: white;
}

aside > h2 {
    color: white;
}

.aside02 {
   margin-top: 35px;
   box-shadow: -3px -3px 7px 0px rgba(0, 0, 0, 0.198);
   border-radius: 10px;
   color: white;
}

.aside02 > h2 {
    color: white;
}

section {
    background-color: var(--cor-05);
    margin: auto;
    padding-bottom: 80px;
    text-align: center;
    max-width: 400px;
}
section h2 {
    color: white;
}

section p {
    color: white;
}
