@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
   margin: 0px;
   padding: 0px;
}

:root {
    --cor-01: #E3F2FD;
    --cor-02: #FAFAFA;
    --cor-03: #424242;
    --cor-04: #3E2723;
    --cor-05: #8D6E63;
    --cor-06: #616161;

    --font-padrao: "Dancing Script", serif;
}

body {
    font-family:serif;
    background-color: var(--cor-01);
}

header {
    background-color: var(--cor-05);
    padding: 10px;
    margin: auto;
}

header  h1 {
    font-size: 40px;
    color: var(--cor-01);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: var(--font-padrao);
     text-shadow: -3px -3px 7px 0px rgba(0, 0, 0, 0.198);
}

header > p {
    font-size: 15px;
    text-align: center;
    padding-bottom: 85px;
    margin-top: 10px;
    color: var(--cor-01);
    display: flex;
    justify-content: center;
    justify-items: center;
}

main {
    margin: auto;
    max-width:800px;
    min-width: 300px;
    width: auto;
    padding: 90px;
    padding-top: 50px;
    background-color: var(--cor-02);
    box-shadow: 0px 3px 5px 0px black;
}

main  h1 {
    text-align: justify;
    color: black;
    margin-bottom: 15px;
    max-width: auto;
    padding-bottom: 15px;
    font-family: var(--font-padrao);
}

main h2 {
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 15px;
}

main p {
    color: white;
}

aside {
    background-color: var(--cor-05);
    padding-bottom: 1px;
    max-width: 470px;
    margin: auto;
    border-radius: 10px;
    box-shadow: -3px -3px 7px 0px rgba(0, 0, 0, 0.198);
    
}

aside  ul  {
    list-style-position: inside;
    columns: 2;
    padding-bottom: 30px;
    margin-left:  6px;
    line-height: 30px;
    color: white;
    
}

aside > h2 {
    color: white;
}

.aside02 {
   margin-top: 35px;
   color: white;
   box-shadow: -3px -3px 7px 0px rgba(0, 0, 0, 0.198);
}




section {
    background-color: var(--cor-05);
    margin: auto;
    padding-bottom: 80px;
    text-align: center;
    max-width: 450px;
    border-radius: 10px;
    font-size: 17px;
    color: white;
    box-shadow: -3px -3px 7px 0px rgba(0, 0, 0, 0.198);
}

section h2 {
    color: white;
}

footer {
    background-color: var(--cor-05);
    color: var(--cor-01);
    text-align: center;
    font-size: smaller;
}

